[submodule "SocketProgramming"]
	path = SocketProgramming
	url = https://github.com/BaeJiwoo/CSharpSocket.git
[submodule "UnityMultiplayStudy"]
	path = UnityMultiplayStudy
	url = https://github.com/BaeJiwoo/Study-Unity-Multi_Play.git
[submodule "Unity MultiplayStudy"]
	path = Unity MultiplayStudy
	url = https://github.com/BaeJiwoo/UnityMultiplayStudy.git
